# ROS 2 / colcon
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Editors
.vscode/
.idea/

# Temporary files
*.swp
*~

# Secrets / credentials
.env
*.key
*.pem

#Third-party ROS dependencies managed by vcstool
ros2_ws/src/third_party/